<?xml version="1.0" encoding="UTF-8"?> 

<launch>
<remap from="cam0/image_raw" to="/stereo/leftimage" />
<remap from="cam1/image_raw" to="/stereo/rightimage" />
<remap from="imu0" to="/stereo/imu" />
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_duomlx.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/duomlx_cam0.yaml"/>
  <param name="camera1_config" value="$(find rovio)/cfg/duomlx_cam1.yaml"/>
  </node>
</launch>
